.Steps {
  font-family: sans-serif;
  text-align: center;
}
.customSlide {
  background-color: green;
  height: 10rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
